

/************************* CSS DE LA PAGE rgpd_reseausocial.html  *******************************************************************/


.rs-body-rgpd{
    height: 700px;
    width: 400px;
} 
.rs-rgpd-container{
    height: 700px;
    width: 400px;
} 
