
/************************* CSS DE LA PAGE ACCOUNT RESEAU SOCIAL *******************************************************************/

#rs-identity-container{
    height: 550px;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    padding: 0px 0px;
    border: purple solid 0.5px; 

}

#rs-identity-title{
    height: 50px;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    padding: 0px 0px;

}

#rs-identity-specs{
    /* width: 100%; */
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: black solid 0.5px; 

}

#rs-identity-pic{
    /* width: 100%; */
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: black solid 0.5px; 

}

#rs-account-pic{
    /* width: 100%; */
    height: 300px;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: black solid 0.5px; 

    overflow: hidden;
    object-fit:cover;

    /* background-image: url('https://loremflickr.com/1200/400/portrait'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 0.5px; 

}

#rs-gender{
    margin-bottom: 20px;
}

/* #rs-account-birth{
    margin-bottom: 20px;
}

#rs-account-birth input {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    padding: 8px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background: #F2F2F2;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.02em;
    font-family: "Roboto Condensed", helvetica, arial, sans-serif;
}

#rs-account-birth select {
    padding: 0px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin: 0 3px;
}

#rs-account-birth select.invalid {
    color: #E9403C;
}

#rs-account-birth input[type="submit"] {
    margin-top: 10px;
}

#rs-account-birth input[type="submit"]:hover {
    cursor: pointer;
    background-color: #e5e5e5;
} */

/* rs-preferences-container */

/* #rs-preferences-container{
    height: 250px;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    padding: 0px 0px;
    border: purple solid 0.5px; 

}

#rs-preferences-options{
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: black solid 0.5px; 

} */