
/*****************************

******* NAV CONTAINER *******

*****************************/


.rs-nav-container{
    height: 130px;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* background-color: red; */
    border: black solid 0.5px; 
    /* background-color: rgb(0, 255, 0); */
    /* background-color: #006600; */
    background-color: #FF0000;
}


/*****************************

******* MAIN NAVABAR *******

*****************************/

.rs-main-navbar{
    height: 50px;
    top: 0px;
    left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 17px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* background-color: green; */
    border: black solid 0.5px; 
}


.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.5); */
    color: yellow;}

.navbar-nav{
    padding-left: 10px;
}

#navbarNavAltMarkup{
    width: auto;
}

.rs-navbar-title{
    padding-top: 5px;
    /* color: rgb(255, 0, 0) !important; */
    /* color: #990000 !important; */
    color: yellow !important;
}

.rs-navbar-title h1{
    font-size: 2rem;
}
.rs-navbar-title h2{
    font-size: 1rem;
    padding-top: 15px;
    padding-left: 5px;
}

.rs-navbar-icon-container{
    /* padding-left: 15px; */
   margin-right: -45px;
}

.rs-navbar-admin-dropdown{
    display: none;
    color: rgb(255, 0, 0) !important;
    /* background-color: rgb(0, 255, 0); */
    /* background-color: rgb(255, 0, 0) !important; */
}


.rs-navbar-icon{
    padding-left: 0px;
}

.rs-navbar-signup{
    /* left: 117px; */
   
}
/* .rs-navbar-signup:click{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
} */

.rs-signup-btn{

    /* background-color: rgb(255, 0, 0) !important; */
    background-color: yellow !important; 
    color: #006600;
}



.rs-login-dropdown{
    /* left: 450px; */
}
.rs-login-btn{

    /* background-color: rgb(255, 0, 0) !important; */
    background-color: yellow !important; 
    color: #006600;
}

.rs-login-accessForgotten h1{
    font-size: 1rem;

}

.dropdown-menu{
    width: 300px;
}


.rs-navbar-notifications{
    float: right !important;
    right: 20px;

}

.rs-navbar-notifications-pic-container{
    height: 30px;
    top: 3px;
}

.rs-navbar-notificationsImage{
    width: 30px;
    height: 30px;  
    left: 24px;
}

.rs-navbar-notifications-title{

    /* background-color: rgb(255, 0, 0) !important; */

}

.rs-notifications-dropdown-linkAdminO, .rs-notifications-dropdown-linkAdminM{
    display: none;
}


/*****************************

******* MAIN SEARCH *******

*****************************/


#rs-main-search{
	height: 50px;
    /* background-color: yellow; */
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#rs-search-time{
	height: 100%;
	background-color: beige;

}




/***** search input*****/

.rs-search-text h1{
    font-size: 1rem;
    padding-top: 5px;
}

select {
    padding-top: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

.rs-hourBloc {
    padding-left: 0px;
    padding-right: 0px;
}

#rs-hourData{
    padding-left: 30px;
}

.rs-hourBloc h1{
    font-size: 1rem;
    padding-top: 5px;
}

.rs-minuteBloc{
    /* left: 5px; */
    padding-left: 0px;
    padding-right: 0px;
}

#rs-minuteData{
    padding-left: 30px;
}
.rs-minuteBloc h1{
    font-size: 1rem;
    padding-top: 5px;
}

.rs-minuteBloc-warning{
    position: absolute;
    display: none;
    top: 300px;
    left: 350px;
    height: 150px;
    width: 300px;
    padding-left: 30px;
    border: red solid 1px; 
}

.rs-minuteBloc-warning h1{
    font-size: 1rem;
    padding-top: 5px;
}


#rs-search-localisation{
	/* height: 100%; */
    background-color: beige;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
}

.rs-search-localisation-text h1{
    font-size: 1rem;

}

.rs-search-localisation-text{
    /* height: 100%; */
    padding-top: 12px;
    top: 3px;
}

.rs-search-localisation-form{
    /* height: 100%; */
    padding-top: 5px;
    top: 3px;
}

.rs-search-localisation-btn{
    /* height: 100%; */
    padding-top: -10px;
}

.rs-search-localisation-formGroup{
    /* height: 100%; */

}

.rs-search-localisation-formGroup-input{
    /* height: 100%; */
    width: 400px;
}

.rs-search-localisation-warning{
    display: none;
    padding-left: 30px;
}

.rs-search-localisation-warning h1{
    font-size: 1rem;
    padding-top: 5px;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}



/* #rs-search-person{
	height: 100%;
	background-color: beige;
}

.rs-person-text h1{
    font-size: 1rem;

}

.rs-adulte h1, .rs-ado h1, .rs-enfant h1, .rs-bebe h1 {
    font-size: 1rem;
} */


/* .dropdown-submenu {
    position: relative;
}

.dropdown-submenu > a.dropdown-item:after {
    font-family: FontAwesome;
    content: "\f054";
    float: right;
}

/* .dropdown-submenu > a.dropdown-item:after {
    content: ">";
    float: right;
} */

/* .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
} */

/*make submenu shown when mouse hover on .dropdown-submenu item:*/
/* .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}  */

.rs-deconnexion-request{
    display: none;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 300px;
    height: 100px;
    border: red solid 1px;
}

.rs-inscription-ko{
    display: none;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 300px;
    height: 100px;
    border: red solid 1px;
}

.rs-connexion-ok{
    display: none;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 300px;
    height: 100px;
    border: red solid 1px;
}

.rs-connexion-emailKo{
    display: none;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 300px;
    height: 100px;
    border: red solid 1px;
}

.rs-login-ko{
    display: none;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 300px;
    height: 100px;
    border: red solid 1px;
}

.rs-connexion-LoginSend{
    display: none;
    position: absolute;
    top: 200px;
    left: 400px;
    width: 300px;
    height: 100px;
    border: red solid 1px;
}

