

/*****************************

******* footer *******

*****************************/

.rs-footer-container{
	/* background-color: #292c2f; */
	/* background-color: #006600; */
	background-color: #FF0000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 0px;
}

.rs-footer-container .rs-footer-left,
.rs-footer-container .rs-footer-center,
.rs-footer-container .rs-footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.rs-footer-container .rs-footer-left{
	width: 40%;
}

/* The company logo */

.rs-footer-container h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.rs-footer-container h3 span{
	color:  #5383d3;
}

.rs-footer-icon{
    padding-left: 19px;
}

/* Footer links */

.rs-footer-container .rs-footer-footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.rs-footer-container .rs-footer-footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
    color:  inherit;
    padding-left: 0px;
    padding-right: 0px;
}

.rs-footer-container .rs-footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.rs-footer-container .rs-footer-center{
	width: 35%;
}

.rs-footer-container .rs-footer-center i{
	/* background-color:  #33383b; */
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.rs-footer-container .rs-footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.rs-footer-container .rs-footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.rs-footer-container .rs-footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.rs-footer-container .rs-footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.rs-footer-phone{
    padding-top: 18px;
}

.rs-footer-email{
    padding-top: 18px;
}


/* Footer Right */

.rs-footer-container .rs-footer-right{
	width: 30%;
}

.rs-footer-container .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.rs-footer-container .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
    margin-bottom: 20px;
    padding: 0px;
}

.rs-footer-container .footer-icons{
	margin-top: 25px;
}

.rs-footer-container .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	/* background-color:  #33383b; */
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

#heroku-link, #github-link{
	font-size: 20px;
	color: yellow;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.rs-footer-container{
		font: bold 14px sans-serif;
	}

	.rs-footer-container .rs-footer-left,
	.rs-footer-container .rs-footer-center,
	.rs-footer-container .rs-footer-right,{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.rs-footer-container .rs-footer-center i{
		margin-left: 0;
	}

}