/************************* CSS DE LA PAGE CGU *******************************************************************/

#rs-cgu-main-container{
    display: none;
    height: 500px;
    width: 600px;
}